<%-include ('header') %>
<div class="result">
    <% if (error) { %>
    <%= error %>
    <% } else { %>
    <p>O valor de $ <%= quantidade %> dólares na cotação de: R$ <%= cotacao %> reais, gera um valor convertido de R$ <%= valorConvertido %> reais</p>
    <% } %>
</div>
<br>
<br>
<a href="/" class="link-btn">Nova Conversão</a>
<%-include ('footer') %>